.custom-select__control {
  background-color: transparent !important;
  border-radius: 10px !important;
  border: 1px solid #C4C4C4 !important;
  padding: 10px 15px !important;
  box-shadow: none !important;
}

.custom-select__control--is-focused {
   border: 1px solid #F2766A !important;
}

.custom-select__value-container {
  padding: 0 !important;
  cursor: text !important;
}

.custom-select__input-container {
  color: #999aa5 !important;
}

.custom-select__indicator-separator {
  display: none !important;
}

.custom-select__indicators {
  cursor: pointer !important;
}

.custom-select__indicator {
  color: #66676e !important;
}

.custom-select__indicator:hover {
  color: #999aa5 !important;
}

.custom-select__menu {
  background-color: #FFFFFF !important;
  color: #414141 !important;
  animation: scaleIn 0.35s ease-in-out;
}

.custom-select__option {
  cursor: pointer !important;
  color: #2B2B2B !important;
  background-color: transparent !important;
  padding: 10px !important;

  font-family: Gilroy, sans-serif;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

.custom-select__option:hover {
  background-color: transparent !important;
}


.custom-select__option--is-selected {
  color: #F2766A !important;
  background-color: transparent !important;
  position: relative;
}

.custom-select__option--is-selected::after {
  position: absolute;
  content: '';
  background-image: url('/public/check.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  top: 50%;
  bottom: 50%;
  right: 20px;
}


.custom-select__option:hover:not(.custom-select__option--is-selected) {
  color: rgb(128, 128, 128) !important;
}

.custom-select-container > div {
  outline: none !important;
  box-shadow: none !important;
}


@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*multi*/

.custom-select__multi-value {
  background-color: rgba(153, 154, 165, 0.6) !important;
  border-radius: 0.5rem !important;
}

.custom-select__multi-value__label {
  font-size: 80% !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.custom-select__multi-value__remove {
  color: rgba(255, 255, 255, 0.8) !important;
}

.custom-select__multi-value__remove:hover {
  background-color: transparent !important;
  color: white !important;
}

