.input-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: 0;
  height: 2px;
  background-color: #C4C4C4;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F2766A;
}

.range-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;

  color: #858585;
  font-size: 12px;
  font-weight: 500;
  line-height: 126.9%;
}
